html{
    scroll-behavior:smooth;
}
html,body{
    justify-content: center;
    align-items:center;
}

@font-face{
    font-family: 'daydream';
    src: url(../fonts/Daydream.otf) format('opentype');
}

@font-face{
    font-family: 'emoji';
    src: url(../fonts/EmojiFont.ttf) format('truetype');
}

@font-face{
    font-family: 'pixel';
    src: url(../fonts/pixelmix.ttf) format('truetype');
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f1ea;
}
h1{
    text-align:center;
    letter-spacing: 10px;
    font-size: 35px;
    font-family:"daydream";
    font-style: italic;
    color: rgb(0, 0, 0);
}
h2{
    font-size: 20px;
    color:#000000; 
    font-family: 'daydream';
    text-align:center;
}
header{
    background-color: #f4f1ea;

    text-align: center;
    padding: 15px;

}
header nav a{
    font-size:15px;
    color: #000000;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    font-family: 'pixel';
    transition: transform 0.2s ease;
    gap: 20px;
    margin-left:10px;
    margin-right:10px;
}

header nav a:hover{
    color: rgb(68, 0, 255);
    transform: scale(1.2);
}
section{
    padding: 30px;
    font-style:italic;
    box-shadow: #0800ff;
    border-radius: 10px;
}
main{
    flex:1;
    width: 80%;
}
footer{
    text-align: center;
    background-color:#000000;
    font-size: 18px;
    color: white;
/* position: fixed; */
/* bottom: 0;*/
width: 100%;
justify-content: center;
font-style: italic;
}

@media screen and (max-width: 700px){
    body{
        font-size: 16px;
    }

    header nav{
        text-align:center; 
        display: block;
    }
    section{
        padding: 5px;
    }

    footer{
        font-size: 10px;
        padding: 10px;
    }
}


#projects{
    position:relative;
}

#about, #projects, #contact{
    border:#000000;
    border-style:solid;
    border-width: 3px; 
     border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
}
.stars{
    margin-bottom:20px;
    margin-top:0px;
    color:white;
}
p{
    font-family: 'Garamond', serif;
    font-size:25px;
    font-weight:bold;

    
}
.projects-container{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    gap: 50px;
    justify-content: center;
    align-items:center;
    overflow:contain;
}
.project img{
    display:block;
    margin:0 auto;
    max-width:100%;
    height:auto;
}
h6{

    font-family:'emoji';
    text-align:center;
    font-size: 30px;
    margin-bottom:0px;
    margin-top:0px;
}
h4{
    font-family: 'pixel';
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.click-details{
    font-family: 'pixel';
    padding:4px;
    background-color:gray;
    cursor:pointer;
    font-size:16px;
    margin-top: -10px;
}

.click-details:hover{
    background-color: rgb(254, 0, 0);
    color:white;
}

.window{
    width: 90%;
    max-width: 900px;

    height: fit-content;
    background-color: rgb(182, 182, 182);
    border-color:black;
    border-width: 2px;
    border-style:solid;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px;
    flex-wrap:wrap;
    overflow:contain;
    overflow-x:scroll;
    z-index:1234;
    animation: pop 0.25s ease;

}
@keyframes pop{
    from {
        transform:translate(-50%, -60%) scale(0.9);
        opacity:0;
    }
    to {
        transform: translate(-50%,-50%) scale(1);
        opacity:1;
    }
}
.tab-bar{
    font-family:'pixel';
    align-items:space-between;
    background-color: blue;
    color:white;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-bottom:1px;
}
#close-btn-project1,#close-btn-project2{
    border-color:black;
    background-color: gray;
    padding:2px;
    border-style:solid;
    border-width:1px;
    margin-right:5px;
    font-family: 'pixel';
}
.gallery-container{
    font-family: 'pixel';
    display: flex;
    flex-direction:row;

    max-height: 450px;
}
.gallery{
    display:grid;
    grid-template-columns:repeat(1,2fr);
    gap:10px;
    overflow-y:scroll;
    max-height: 500px;
    overflow-x:hidden;
    padding:5px;
    border-color:black;
    border-style:solid;
    border-width:1px;
    min-width: 100px;
}
.gallery img{
    min-width: 100px;

}
.description-container{
    margin:10px;
    width: 500px;
}
.title{
    font-size:20px;
    text-align:center;
}
#contact{
    justify-content:center;
    align-items:center;
    margin-bottom:30px;
}
.contact-container{
    width:80%;
    font-family:'pixel';
    margin:0 auto;
}
.name-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom: 10px;

}
.email-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom: 10px;

}
#submit{
    font-family:'pixel';
    background-color:gray;
    padding:3px;
    color:white;
    margin-top:10px;
}
#submit:hover{
    font-family:'pixel';
    background-color:rgb(23, 0, 231);
}
input, textarea{
    flex-grow:1;
}
textarea{
    width:100%;
    height:300px;
}

#typing-text-effect{
    font-family:'daydream';
    font-size: 25px;
    color:rgb(0, 0, 0);
    text-align:center;
}
.welcome-message{
    font-family: 'daydream';
    text-align: center;
}

body.darkMode{
    background-color:rgb(0, 1, 33);
    color:rgb(255, 255, 255);
}

body.darkMode h1{
    color:rgb(136, 0, 209);
}
body.darkMode #typing-text-effect {
    color:rgb(255, 80, 153);
    opacity: 0.7;
}
body.darkMode h2{
    color:rgb(136, 0, 209);
}
body.darkMode h3{
    color:rgb(136, 0, 209);
}
body.darkMode p{
    color:#d0b2e1;
}
body.darkMode section {
    color:rgb(170, 0, 255);
    border-color: rgb(155, 0, 198);
    border-style:solid;
    border-width: 4px;
}
body.darkMode button{
    background-color:rgb(142, 0, 213);
    color: rgb(255, 204, 255);
}
body.darkMode #name{
    background-color:rgb(56, 0, 83);
    color: rgb(255, 204, 255);
}
body.darkMode input::placeholder{
    color: rgb(255, 204, 255);
}
body.darkMode textarea::placeholder{
    color: rgb(255, 204, 255);
}
body.darkMode #email{
    background-color:rgb(56, 0, 83);
    color: rgb(255, 204, 255);
}
body.darkMode textarea{
    background-color:rgb(56, 0, 83);
    color: rgb(255, 204, 255);

}

header.darkMode{
    background-color:rgb(0, 1, 33);
    color:rgb(255, 0, 174);
}

header.darkMode a{
    background-color:rgb(0, 1, 33);
    color:rgb(0, 229, 255);
}
header.darkMode h6{
    background-color:rgb(0, 1, 33);
    color: yellow;
    opacity: 0.5;
}

body.darkMode .stars{
    color: yellow;
}

body.darkMode footer{
    color: rgb(244, 215, 255);
    background-color:rgb(142, 0, 213);
}

#starsBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    white-space: pre;
    font-family: monospace;
    font-size: 10px;
    color: white;
    opacity: 0;
    z-index: 0;
}

body.darkMode #starsBackground {
    opacity: 0.5;
    color: yellow;
}

#darkModeButton{
    position: absolute;
    right: 20px;
    margin-left:20px;
    font-family: 'pixel';
}

body.darkMode .window{
    color: rgb(228, 194, 255);
    box-shadow: none;
    border-color:white;
    background-color:rgb(11, 0, 53);
}

body.darkMode .tab-bar{
    color: rgb(255, 255, 255);
    box-shadow: none;
    border-color:white;
    background-color:rgb(55, 0, 255);
}