html,body{
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    color: #850a0a;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: antiquewhite;
}
h1{
    text-align:center;
    letter-spacing: 3px;
    font-size: 40px;
    font-style: italic;
}
h2{
    font-size: 25px;
}
header{
    background-color: antiquewhite;

    text-align: center;
    padding: 15px;

}
header nav a{
    font-size: 18px;
    color: #850a0a;
}

section{
    padding: 30px;
    font-style:italic;
}
main{
    flex:1;
}
footer{
    text-align: center;
    background-color:#3a0069;
    font-size: 18px;
    color: white;
}