html,body{
    justify-content: center;
    align-items:center;

}

@font-face{
    font-family: 'daydream';
    src: url(../fonts/Daydream.otf) format('opentype');
}

@font-face{
    font-family: 'emoji';
    src: url(../fonts/EmojiFont.ttf) format('truetype');
}

@font-face{
    font-family: 'pixel';
    src: url(../fonts/pixelmix.ttf) format('truetype');
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}
h1{
    text-align:center;
    letter-spacing: 10px;
    font-size: 30px;
    font-family:"daydream";
    font-style: italic;
    color: #850rgb(0, 0, 0)
}
h2{
    font-size: 20px;
    color:#000000; 
    font-family: 'daydream';
    text-align:center;
}
header{
    background-color: rgb(251, 251, 251);

    text-align: center;
    padding: 15px;

}
header nav a{
    font-size:15px;
    color: #000000;
    list-style: none;
    display: in-line;
    text-decoration: none;
    padding: 5px;
    font-family: 'pixel';
}

header nav a:hover{
    color: rgb(68, 0, 255);
}
section{
    padding: 30px;
    font-style:italic;
    box-shadow: #0800ff;
    border-radius: 10px;
}
main{
    flex:1;
}
footer{
    text-align: center;
    background-color:#000000;
    font-size: 18px;
    color: white;
/* position: fixed; */
/* bottom: 0;*/
width: 100%;
justify-content: center;
font-style: italic;
}

@media screen and (max-width: 700px){
    body{
        font-size: 16px;
    }

    header nav{
        text-align:center; 
        display: block;
    }
    section{
        padding: 10px;
    }

    footer{
        font-size: 12px;
        padding: 10px;
    }
}

.welcome-message{
    font-family: 'daydream';
    text-align: center;

}


#about, #projects, #contact{
    border:#000000;
    border-style:solid;
    border-width: 1px; 
    box-shadow: 10px 10px;

}
p{
    font-family: 'pixel';
}
.projects-container{
    display:flex;
    flex-direction:row;
    gap: 200px;
    justify-content: center;
    align-items:center;
}
h6{
    margin-top:-10px;
    font-family:'emoji';
    text-align:center;
    font-size: 30px;
    padding:0px;
}
h4{
    font-family: 'pixel';
    font-size: 15px;
    text-align: center
}

.click-details{
    font-family: 'pixel';
    padding:4px;

}

#click-details:hover{
    background-color: rgb(114, 114, 114);
}

.window{
    width: 900px;
    height: fit-content;
    background-color: rgb(182, 182, 182);
    border-color:black;
    border-width: 2px;
    border-style:solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px;
}
.tab-bar{
    font-family:'pixel';
    align-items:space-between;
    background-color: blue;
    color:white;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-bottom:1px;
}
#close-btn{
    border-color:black;
    background-color: gray;
    padding:2px;
    border-style:solid;
    border-width:1px;
    margin-right:5px;
    font-family: 'pixel';
}
.gallery-container{
    font-family: 'pixel';
    display: flex;
    flex-direction:row;

    max-height: 450px;
}
.gallery{
    display:grid;
    grid-template-columns:repeat(1,2fr);
    gap:10px;
    overflow-y:scroll;
    max-height: 500px;
    overflow-x:hidden;
    &::-webkit-scrollbar {
        display: none;
    }
    padding:5px;
}

.description-container{
    margin:10px;
    width: 500px;
}
.title{
    font-size:20px;
    text-align:center;
}